@import "tailwindcss";

:root {
  --green: #41a140;
  --dark: #1d1d1f;
  --light-bg: #f5f5f7;
  --subtle: #a2aaad;
  --off-white: #f5f5f7;
}

body {
  background: #ffffff;
  color: var(--dark);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.04em;
}

* {
  letter-spacing: inherit;
}
